language: node_js
node_js:
  - 'lts/*'

install:
  - npm install

services:
  - mongodb

before_script:
  - sleep 15
  - mongo mydb_test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'

scripts: npm run test

after_success:
  - npm run coveralls